*{
    
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.vl{
    border-left: 3px solid gray;
    height: 100%;
    position: absolute;
    left: 45%;
    padding-right: 2px;
    z-index: 2;
}
.title{
    text-align: center;
}
.subtitle{
    text-align: center;
}
.split{
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 1;
    
}
.left{
    left: 0;
    width: 50%;
    height: 100%;
}
.right{
    right: 0;
    width: 50%;
    height: 100%;
}
